<ion-footer translucent="true" mode="ios">
  <ion-toolbar color="dark">
    <ion-buttons class="ion-justify-content-center" >
      <ion-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button routerLink="/entradas">
        <ion-icon name="nutrition"></ion-icon>
      </ion-button>
      <ion-button routerLink="/principales">
        <ion-icon name="fast-food"></ion-icon>
      </ion-button>
      <ion-button routerLink="/bebidas">
        <ion-icon name="cafe"></ion-icon>
      </ion-button>
      <ion-button routerLink="/postres">
        <ion-icon name="ice-cream"></ion-icon>
      </ion-button>
      <ion-button routerLink="/cocteles">
        <ion-icon name="wine"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
