<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <form #f="ngForm" (ngSubmit)="loginForm(f)" novalidate>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input [(ngModel)]="data.username" #nameCtrl="ngModel" name="username" required></ion-input>
            </ion-item>
            <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
              <ion-text color="danger">Name is required</ion-text>
            </ion-item>

            <ion-item>
              <ion-label>Contraseña</ion-label>
              <ion-input type="password" [(ngModel)]="data.password" #passwordCtrl="ngModel" name="password" required>
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
              <ion-text color="danger">Password is required</ion-text>
            </ion-item>
            <ion-item align="center">
              <ion-button type="submit" [disabled]="!f.valid">
                Login
              </ion-button>
            </ion-item>

            <div class="ion-padding" *ngIf="f.valid">
              Form username: {{ f.value.username }}<br/>
              Form password: {{ f.value.password }}
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
