<ion-tabs>

  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entradas">
      <ion-icon name="nutrition"></ion-icon>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="principales">
      <ion-icon name="fast-food"></ion-icon>
      <ion-label>Principales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bebidas">
      <ion-icon name="cafe"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cocteles">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Cocteles</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
