<ion-header>
  <ion-toolbar color="dark">
    <ion-title>POSTRES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col *ngFor="let postre of postres" size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
          <ion-card>
            <ion-img src="{{postre.imagen}}" alt="{{postre.nombre}}"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{postre.tipoId}}</ion-card-subtitle>
              <ion-card-title>
                <ion-text>{{postre.nombre}}</ion-text>
                <br>
                <ion-text>${{postre.precio}}</ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>{{postre.descripcion}}</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
