<ion-header>
  <div class="bar bar-header bar-light">
    <!--    <h1 class="title">bar-light</h1>-->
    <ion-toolbar color="light">
      <ion-title>ENTRADAS</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button button-light" routerLink="/registro">
          Registro
        </ion-button>
        <ion-button class="button button-light">
          Login
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content fullscreen>
  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col *ngFor="let entrada of entradas" size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
          <ion-card>
            <ion-img src="{{entrada.imagen}}" alt="{{entrada.nombre}}"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{entrada.tipoId}}</ion-card-subtitle>
              <ion-card-title>
                <ion-text>{{entrada.nombre}}</ion-text>
                <br>
                <ion-text>${{entrada.precio}}</ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>{{entrada.descripcion}}</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
