<ion-header [translucent]="true">

</ion-header>

<ion-content scroll="false" fullscreen>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col></ion-col>
      <ion-col size-lg="2" size-md="2" size-sm="4" size-xl="6">
        <div style="margin-left: auto; margin-right: auto">
          <ion-img src="/assets/Img/Logo.png" alt="Logo"></ion-img>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size-lg="2" size-md="3" size-sm="6" size-xl="6">
        <ion-card style="align-content: center; text-align: center; align-self: center">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <ion-img style="width: 80px; height: 80px; alignment: center" src="/assets/Img/Entradas.png" alt="Entradas" routerLink="/entradas"></ion-img>
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title class="card-title">ENTRADAS</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-lg="2" size-md="3" size-sm="6" size-xl="6">
        <ion-card style="align-content: center; text-align: center; align-self: center">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Plato_Ppal.png" alt="Principales" routerLink="/principales"></ion-img>
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title class="card-title">PRINCIPALES</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-lg="2" size-md="3" size-sm="6" size-xl="6">
        <ion-card style="align-content: center; text-align: center; align-self: center">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Bebidas.png" alt="Bebidas" routerLink="/bebidas"></ion-img>
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title class="card-title">BEBIDAS</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-lg="2" size-md="3" size-sm="6" size-xl="6">
        <ion-card style="align-content: center; text-align: center; align-self: center">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Postre.png" alt="Postres" routerLink="/postres"></ion-img>
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title class="card-title">POSTRES</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-lg="2" size-md="3" size-sm="12" size-xl="6">
        <ion-card style="align-content: center; text-align: center; align-self: center">
          <ion-card-content>
            <ion-row>
              <ion-col col-4></ion-col>
              <ion-col col-4>
                <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Cocteles.png" alt="Cocteles" routerLink="/cocteles"></ion-img>
              </ion-col>
              <ion-col col-4></ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title class="card-title">COCTELES</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--<ion-content scroll="false" fullscreen>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col></ion-col>
      <ion-col size="8">
        <div style="margin-left: auto; margin-right: auto">
          <ion-img style="width: 200px; height: 200px;" src="/assets/Img/Logo.png" alt="Logo"></ion-img>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Entradas.png" alt="Entradas" routerLink="/entradas"></ion-img>
          <ion-text>Entradas</ion-text>
      </ion-col>
      <ion-col>
          <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Plato_Ppal.png" alt="Principales" routerLink="/principales"></ion-img>
          <ion-text>Principales</ion-text>
      </ion-col>
      <ion-col>
          <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Bebidas.png" alt="Bebidas" routerLink="/bebidas"></ion-img>
          <ion-text>Bebidas</ion-text>
      </ion-col>
      <ion-col>
          <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Postre.png" alt="Postres" routerLink="/postres"></ion-img>
          <ion-text>Postres</ion-text>
      </ion-col>
      <ion-col>
          <ion-img style="width: 80px; height: 80px;" src="/assets/Img/Cocteles.png" alt="Cocteles" routerLink="/cocteles"></ion-img>
          <ion-text>Cocteles</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->
