<ion-content fullscreen>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-img class="logo centrar" src="/assets/Img/Logo.png" alt="Logo"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="4" size-xs="8">
          <ion-card routerLink="/entradas">
            <ion-img class="icon-home" style="height: 70px;" src="/assets/Img/Entradas.png" alt="Entradas"></ion-img>
            <ion-card-header>
              <ion-card-title class="card-title">ENTRADAS</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="4" size-xs="8">
          <ion-card routerLink="/principales">
            <ion-img class="icon-home" src="/assets/Img/Plato_Ppal.png" alt="Principales"
                     routerLink="/principales"></ion-img>
            <ion-card-header>
              <ion-card-title class="card-title">PRINCIPALES</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="4" size-xs="8">
          <ion-card routerLink="/bebidas">
            <ion-img class="icon-home" src="/assets/Img/Bebidas.png" alt="Bebidas" routerLink="/bebidas"></ion-img>
            <ion-card-header>
              <ion-card-title class="card-title">BEBIDAS</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="4" size-xs="8">
          <ion-card routerLink="/postres">
            <ion-img class="icon-home" src="/assets/Img/Postre.png" alt="Postres" routerLink="/postres"></ion-img>
            <ion-card-header>
              <ion-card-title class="card-title">POSTRES</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xl="3" size-lg="3" size-md="4" size-sm="4" size-xs="8">
          <ion-card routerLink="/cocteles">
            <ion-img class="icon-home" src="/assets/Img/Cocteles.png" alt="Cocteles" routerLink="/cocteles"></ion-img>
            <ion-card-header>
              <ion-card-title class="card-title">COCTELES</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
