<ion-header>
  <ion-toolbar color="dark">
    <ion-title>COCTELES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col *ngFor="let coctel of cocteles" size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
          <ion-card>
            <ion-img src="{{coctel.imagen}}" alt="{{coctel.nombre}}"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>{{coctel.tipoId}}</ion-card-subtitle>
              <ion-card-title>
                <ion-text>{{coctel.nombre}}</ion-text>
                <br>
                <ion-text>${{coctel.precio}}</ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>{{coctel.descripcion}}</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
