<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>
      REGISTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <form>
            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input type="text" Nombre name="Nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Apellido</ion-label>
              <ion-input type="text" Apellido name="Apellido"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Correo</ion-label>
              <ion-input type="text" Correo name="Correo"></ion-input>
            </ion-item>
            <button ion-button type="submit" block>Enviar</button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
