<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
<!--    <ion-grid>-->
<!--      <ion-row class="ion-justify-content-center">-->
<!--        <ion-col size-xl="4" size-lg="4" size-md="8" size-sm="8" size-xs="8">-->
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">First Name</span>
              <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Last Name</span>
              <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email">
            </label>
          </div>
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--    </ion-grid>-->
  </div>
</ion-content>
